:root {
}

.h1 {
    color: rgb(255, 255, 255);
    font-size: 45px;
    -unity-font-definition: resource("Inter-VariableFont_opsz,wght");
    -unity-font-style: bold;
    -unity-text-align: middle-left;
    -unity-text-auto-size: best-fit 10px 100px;
}

.windowButton {
    flex-grow: 1;
    flex-basis: 0%;
    scale: 1 1;
    border-right-color: rgba(0, 0, 0, 0);
    -unity-slice-type: sliced;
    margin-top: 14px;
    margin-right: 14px;
    margin-bottom: 14px;
    margin-left: 14px;
    min-width: auto;
    min-height: auto;
    max-width: none;
    max-height: none;
    aspect-ratio: 1;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    border-top-left-radius: 37px;
    border-top-right-radius: 37px;
    border-bottom-right-radius: 37px;
    border-bottom-left-radius: 37px;
    filter: none();
    justify-content: center;
    align-self: center;
    align-content: center;
    align-items: center;
    opacity: 1;
    font-size: 0;
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    -unity-text-auto-size: none;
    width: 1px;
    height: 36px;
}

.tabButton {
    background-color: rgba(255, 255, 255, 0);
    font-size: 25px;
    color: rgb(255, 255, 255);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    -unity-font-style: normal;
    -unity-text-align: middle-center;
    height: 100%;
}

.matchListItem {
    flex-shrink: 0;
}

.customScroll {
}

.unity-scroll-view__content-container--vertical {
    flex-direction: row;
    flex-wrap: wrap;
}

.teamName {
    padding-top: 52px;
    padding-right: 52px;
    padding-bottom: 52px;
    padding-left: 52px;
    border-top-left-radius: 43px;
    border-top-right-radius: 43px;
    border-bottom-right-radius: 43px;
    border-bottom-left-radius: 43px;
    -unity-text-align: upper-center;
    flex-grow: 1;
    flex-basis: 0;
    background-color: rgba(255, 0, 0, 0.482);
    border-top-width: 0;
    border-right-width: 6px;
    border-bottom-width: 6px;
    border-left-width: 0;
    border-left-color: rgba(0, 0, 0, 0.702);
    border-right-color: rgba(0, 0, 0, 0.702);
    border-top-color: rgba(0, 0, 0, 0.702);
    border-bottom-color: rgba(0, 0, 0, 0.702);
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}

.teamName:hover {
    padding-top: 52px;
    padding-right: 52px;
    padding-bottom: 52px;
    padding-left: 52px;
    border-top-left-radius: 43px;
    border-top-right-radius: 43px;
    border-bottom-right-radius: 43px;
    border-bottom-left-radius: 43px;
    -unity-text-align: upper-center;
    flex-grow: 1;
    flex-basis: 0;
    border-top-width: 0;
    border-right-width: 6px;
    border-bottom-width: 6px;
    border-left-width: 0;
    border-left-color: rgba(0, 0, 0, 0.702);
    border-right-color: rgba(0, 0, 0, 0.702);
    border-top-color: rgba(0, 0, 0, 0.702);
    border-bottom-color: rgba(0, 0, 0, 0.702);
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    scale: 1.02 1.02;
    -unity-background-image-tint-color: rgb(255, 255, 255);
    -unity-slice-left: 0;
    -unity-slice-top: 0;
    -unity-slice-right: 0;
    -unity-slice-bottom: 0;
    background-color: rgb(195, 13, 18);
}

.draw {
    background-color: rgb(55, 55, 55);
}

.draw:hover {
    background-color: rgb(103, 103, 103);
}

#VisualElement > #Root > #App > #BetMakeContainer > #MatchScrollView > VisualElement > .unity-slider-int > .unity-slider-int__label {
}

.unity-slider-int__label {
    display: none;
}

.unity-enum-field__label {
    display: none;
}

.unity-enum-field__input {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 26px;
    padding-right: 26px;
    padding-bottom: 26px;
    padding-left: 26px;
}

.unity-enum-field__arrow {
    display: none;
}

.unity-enum-field__text {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
}

.windowButton:hover {
    font-size: 27px;
}

.tabButton {
    color: rgba(255, 255, 255, 0.816);
}

.tabButton:hover {
    color: rgb(255, 255, 255);
    scale: 1.05 1.05;
}

.riskRewardText {
    color: rgb(255, 255, 255);
    -unity-text-outline-color: rgb(255, 255, 255);
    font-size: 42px;
}

.unity-base-field__input {
    font-size: 26px;
    color: rgb(0, 0, 0);
}

.unity-float-field {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.unity-base-popup-field__text {
    -unity-text-auto-size: best-fit 10px 100px;
    -unity-text-generator: advanced;
}
