:root {
}

.h1 {
    -unity-text-generator: advanced;
    -unity-text-auto-size: best-fit 10px 100px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
}
